/*Colors and fonts */

body { 
  background: purple

   }


h1 {
color:brown;
font-size: 32px

}
h2 {
color:brown;
font-size: 32px

}
h3 {
color:brown;
font-size: 32px

}
a {
  color: yellow;
  text-decoration: none;
  transition: color 0.3s ease;

  border: 1px blue;